[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
fastapi = "*"
keybert = "*"
uvicorn = "*"
bert-extractive-summarizer = "*"
spacy = "*"
python-dotenv = "*"
cloud-sql-python-connector = {extras = ["pymysql"], version = "*"}
sqlalchemy = "*"

[dev-packages]
httpx = "*"
pre-commit = "*"
pytest = "*"
faker = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.14"
